footer {
    font-size: .76rem;  
    text-align: center;  
    color: #faf6ee73;
    background: var(--green-dark);
    padding: 1.2rem 1rem;
    position: relative;
    z-index: 1;
}
footer .footer-teks {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1rem;
    color: var(--gold-light);
    margin-bottom: .5rem;
}
